
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.aboutMe {
    
    font-family: 'Tajawal', sans-serif;
    padding: 2rem;
        &__title{
            font-size: 1rem;
            margin: 0px;
            font-family: 'Montserrat', sans-serif;
            opacity: 1; 

            
        }
}