
.contact {
    min-height: 10rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    &__fieldset{
        min-width: 80%;
    }
        &__title{
            color:#47766A;
            font-size: 1.3rem;
        }
        &__form{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__labelForm{
            color:#47766A;
        }
        &__inputForm{
            border:rgba(240, 128, 128, 0.5 ) solid 1.5px;
            border-radius: 1rem;
            min-height: 2.5rem;
        }
        &__submitForm{
            border:white 2px solid;
            background-color:rgba(240, 128, 128, 0.5 );
            border-radius: 1rem;
            height: 2rem;
            margin-top: 1rem;
            color: white;
            font-weight: bold;
        }
}