@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.header {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Parisienne', cursive;
    border-bottom: 2px solid #B88995;
    color:#47766A;

        &__myName{
            font-size: 2rem;
        }

        &__mouseIcon{
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
}
